.artist-listing {

}

.artist-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.artist-listing-card {
    all: unset;
    display: inline-block;
    padding: .25rem;
    border-radius: 1rem;
    background-color: gray;
    margin: .25rem;
    transition: all .3s;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

.artist-listing-card:nth-child(odd) {
    margin-right: 1.25rem;
}

.artist-listing-card img {
    width: 140px;         
    height: 140px;   
    min-width: 140px;         
    min-height: 140px;        
    object-fit: cover;    
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

.artist-listing-card span {
    font-family: var(--font-title);
    font-size: 1.5rem;
    padding-top: .25rem;
    text-align: center;
    display: block;
}

@media (min-width: 800px) {

    .artist-listing-card:hover {
        transform: translateY(-5px);
    }

    .artist-listing-card img {
        width: 180px;         
        height: 180px;   
    }

    .artist-listing-card span {
        font-size: 2rem;

    }
}


