.artist-listing {

}

.artist-listing-container {
    
}

.artist-listing-card {
    all: unset;
    display: inline-block;
    padding: .25rem;
    border-radius: 1rem;
    background-color: gray;
    margin: .25rem;
    transition: all .3s;
    cursor: pointer;
}



.artist-listing-card img {
    width: 160px;         
    height: 160px;        
    object-fit: cover;    
    display: block;
    max-width: 100%;
    border-radius: 1rem;
}

.artist-listing-card span {
    font-family: var(--font-title);
    font-size: 1.5rem;
    padding-top: .25rem;
    text-align: center;
    display: block;
}

@media (min-width: 800px) {

    .artist-listing-card:hover {
        transform: translateY(-5px);
    }

    .artist-listing-card img {
        width: 180px;         
        height: 180px;   
    }

    .artist-listing-card span {
        font-size: 2rem;

    }
}


