
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

:root {
--font-label: 'Alumni Sans Pinstripe', sans-serif;
--font-title: 'Chicle', serif;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: gray;
}


.page {
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 2rem;
}